<div class="mt-4">
    <h3>Cập nhật video</h3>

    <form class="mt-4" method="POST" action="/videos/{{video._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên video</label>
            <input type="text" class="form-control" value="{{video.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{video.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" value="{{video.videoId}}" id="videoId" name="videoId">
        </div>
        <input type="hidden" name="userslug" id="userslug" value="{{video.userslug}}">
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>